﻿@model FinalProject.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    #sticky-footer {visibility: hidden;}
</style>
<div class="content">
    <p class="bigLabelDark">Authorization</p>
    <div class="inputFormAutorize">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.LabelFor(model => model.Email, new { @class = "labelTextLight" })
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Password, new { @class = "labelTextLight" })
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <input class="submitBtn" type="submit" value="Sing in" />
        }
        <a class='submitBtn' href="@Url.Action("Registration","Account")">Register</a>
    </div>
</div>



