﻿@model FinalProject.Models.RegisterViewModel
@{
    ViewBag.Title = "Registration";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    #sticky-footer {visibility: hidden;}
</style>
<div class="content">
    <p class="bigLabelDark">Registration</p>
    <div class="inputFormAutorize">
        @using (Html.BeginForm("Registration", "Account", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.LabelFor(model => model.Email, new { @class = "labelTextLight" })
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.PhoneNumber, new { @class = "labelTextLight" })
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Password, new { @class = "labelTextLight" })
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "labelTextLight" })
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Name, new { @class = "labelTextLight" })
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Birthday, new { @class = "labelTextLight" })
            @Html.EditorFor(model => model.Birthday)
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            <input class="submitBtn" type="submit" value="Register" />
        }
    </div>
</div>
    

