﻿
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navBar">
        <a class="navbar-brand" href="#">Simple Social Network</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Home")">Chats <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="content">
    <div class="verticalContainer">
        <p class="errorText">
            Oops... Server error!!!
        </p>
        <button class="goToMainBtn" type="button" onclick="location.href='@Url.Action("Index","Home")'">
            GO TO MAIN
        </button>
    </div>
</div>