﻿@model FinalProject.Models.ChatViewModel
@using FinalProject.Models;

<div class="horizontalContainer" id="chatBar">
    <img alt="picture" src="/Content/Images/user.png" class="userIcon">
    <p class="labelTextWhight">@Model.FriendName</p>
    <img alt="picture" src="/Content/Images/trash.png" class="userIcon" id="trashIcon" onclick="DeleteClickHendler(chatBar)">
    @using (Html.BeginForm("DeleteChat", "Home", new { ChatId = Model.ChatId }, FormMethod.Post))
    {
        <input class="submitBtn" id="deleteChat" type="submit" style="display:none;" onclick="return confirm('Delete chat with @Model.FriendName?')" />
    }
</div>
<div id="ChatMessagesContainer">
    @foreach (var massage in Model.ChatMessages)
    {
        if (massage.MassageSenderId == Model.CurrentUserId)
        {
            <div class="list-group-item list-group-item-action flex-column align-items-start message messageRight">
                <div class="d-flex w-100 justify-content-between">
                    <small>@massage.Date</small>
                </div>
                <p class="mb-1">@massage.Text</p>
            </div>
        }
        else
        {
            <div class="horizontalContainer" id="friendMessage">
                <img alt="picture" src="/Content/Images/user_blck.png" class="userIcon">
                <div class="list-group-item list-group-item-action flex-column align-items-start message messageLeft">
                    <div class="d-flex w-100 justify-content-between">
                        <small style="margin-bottom: 5px;">
                            @massage.Date
                            <img alt="picture" src="/Content/Images/complaint.png" class="complaintIcon" onclick="OpenMessageComplaint(this)">
                        </small>
                    </div>
                    <p class="mb-1">@massage.Text</p>
                </div>

                <div id="showMessageComplaint" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style=" background-color: rgb(102,193,163);">
                            <div class="modal-header">
                                <h4 class="modal-title">Message complaint</h4>
                                <button type="button" id="closeMessageComplaint" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            @{
                                Html.RenderPartial("MessageComplaintInputPartial", new MessageComplaintViewModel {  MessageId = massage.MessageId });
                            }
                        </div>
                    </div>
                </div>
                <button id='openMessageComplaint' data-toggle="modal" data-target="#showMessageComplaint" style="display:none;">open modal</button>
            </div>
        }
    }
</div>
<div class="horizontalContainer" id="chatMessageInputBar">
    @Html.Partial("MessageInputPartial")
</div>


