﻿@model FinalProject.Models.IndexViewModel

<div class="verticalContainer" id="chatsSearching" style="margin-top:5%;margin-bottom:5%;">
    @using (Ajax.BeginForm("AvailableChats", "Home", "", new AjaxOptions { UpdateTargetId = "chatsSearching", HttpMethod = "Get" }, new { @class = "verticalContainer" }))
    {
        <input class="submitBtn" id="showEvailableChats" type="submit" value="Find chats" style="display:none;" />
    }
<div class="verticalContainer" id="searchedChats" style="margin-top:10%;">
    @if (Model.Chats.Count() == 0)
    {
        <p class="labelTextWhight">There aren't any chats to add.</p>
    }
    @foreach (var chat in Model.Chats)
    {
        <div class="horizontalContainer" id="friendContainer">
            <img alt="picture" src="/Content/Images/user.png" class="userIcon">
            <div class="list-group-item list-group-item-action flex-column align-items-start" id="friendBoxSearch">
                <div class="d-flex w-100 justify-content-between">
                    <small>
                        <span class="plusGreen" onclick="DeleteClickHendler(this)">
                            @using (Html.BeginForm("ReestablishChat", "Home", new { ChatId = chat.ChatId }, FormMethod.Post))
                            {
                                <input class="submitBtn" type="submit" style="display:none;" onclick="return confirm('Reestablish chat with @chat.ContactName?')" />
                            }
                        </span>
                    </small>
                </div>
                <p class="mb-2">@chat.ContactName</p>
            </div>
        </div>
    }
</div>
</div>
