﻿@model FinalProject.Models.IndexViewModel
@using FinalProject.App_Code;
@using FinalProject.Models;
@using BLL.DTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #sticky-footer {
        display:none;
    }
</style>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navBar">
        <a class="navbar-brand" href="#">Simple Social Network</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Home")">Chats <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("GetUserFriends","Friends")">Friends</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                @Html.ShowUserOptions(Model.UserName)
            </form>
        </div>
    </nav>
</header>
<div class="content">
    <div class="fullScreenFlexContainer">
        <div class="verticalContainer" id="chatsContainer">
            @foreach (var item in Model.Chats)
            {
                <div class="horizontalContainerUserImageAndChat">
                    <img alt="picture" src="/Content/Images/user_blck.png" class="userIcon">
                    <div class="list-group-item list-group-item-action flex-column align-items-start" id="chatBox" onclick="OpenChat()">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@item.ContactName</h5>
                            <small>@item.LastMassageDate</small>
                        </div>
                        <p class="mb-1">@item.LastMassageText</p>
                        @Ajax.ActionLink(" ", "ChatMessages", new { ChatId = @item.ChatId },
                        new AjaxOptions { UpdateTargetId = "ChatMessages", OnSuccess = "ScrollMessagesDown" }, new { id = "ActionLink" })
                    </div>
                </div>
            }
            <button class="plusBtn" type="button" onclick="return OpenChatsAdding()">
                <span class="plus"></span>
            </button>

            <div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style=" background-color: rgb(102,193,163);">
                        <div class="modal-header">
                            <h4 class="modal-title">Profile</h4>
                            <button type="button" id="userProfileCloseBtn" class="close" data-dismiss="modal" aria-label="Close" onclick="RefreshMain()"><span aria-hidden="true">&times;</span></button>
                        </div>
                        @{
                            Html.RenderPartial("UserProfilePartial", Model.userProfileViewModel);
                        }
                    </div>
                </div>
            </div>
            <button id='open' data-toggle="modal" data-target="#showmodal" style="display:none;">open modal</button>

            <div id="showChatsAdding" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style=" background-color: rgb(102,193,163);">
                        <div class="modal-header">
                            <h4 class="modal-title">Chats Adding</h4>
                            <button type="button" id="closebtn" class="close" data-dismiss="modal" aria-label="Close" onclick="RefreshMain()"><span aria-hidden="true">&times;</span></button>
                        </div>
                        @{
                            Html.RenderPartial("ChatsAddingPartial", new IndexViewModel { userProfileViewModel = Model.userProfileViewModel, Chats = new List<ChatDTO>() });
                        }
                    </div>
                </div>
            </div>
            <button id='openChatsAdding' data-toggle="modal" data-target="#showChatsAdding" style="display:none;">open modal</button>

           

        </div>
        <div id="ChatMessages">
            <div class="horizontalContainer fullScreenFlexContainer">
                <p>Choose the chat!</p>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    </div>
</div>

