﻿@model FinalProject.Models.MessageComplaintViewModel
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    @if (Model.IsUpdateSuccess == true)
    {
        @:CloseMessageComplaint();
    }
</script>
<div class="verticalContainer" id="messageComplaintForm" style="margin-top:5%;margin-bottom:5%;">
    @using (Ajax.BeginForm("SendMessageCompalint", "Home", new AjaxOptions
    {
        UpdateTargetId = "messageComplaintForm",
        HttpMethod = "Post",
    }, new { @class = "verticalContainer" }))
    {
        @Html.ValidationSummary(true)
        @Html.LabelFor(model => model.ComplaintText, new { @class = "labelTextWhight" })
        @Html.EditorFor(model => model.ComplaintText)
        @Html.ValidationMessageFor(model => model.ComplaintText, "", new { @class = "text-danger" })

        @Html.HiddenFor(modelItem => Model.MessageId)
        <input class="submitBtn" id="deleteChat" type="submit" value="Send" />
    }
</div>