﻿@model FinalProject.Models.ChatViewModel

<style>
    input.input-validation-error {
        border-color: red;
    }
</style>
@using (Ajax.BeginForm("SendMessage", "Home", new { ChatId = Model.ChatId}, new AjaxOptions {
    UpdateTargetId = "ChatMessages",
    HttpMethod = "Post",
    OnSuccess = "ScrollMessagesDown"
}, new { style = "width:100%" }))
{  

    @Html.EditorFor(model => model.NewMessageText, new { htmlAttributes = new { style = "width: 70%", @id="messageInput" } })
    <input class="submitBtn" id="btnSubmitMessage" type="submit" value="Send"/>
}