﻿@model FinalProject.Models.UserProfileViewModel
@using FinalProject.App_Code;
@using FinalProject.Models;

@{
    ViewBag.Title = "UserProfile";
}

<script type="text/javascript">
    @if (Model.IsUpdateSuccess == true)
    {
        @:CloseUserProfile();
    }
</script>
<div class="verticalContainer" id="userProfileContent" style="margin-top:5%;margin-bottom:5%;">
    <img alt="UserIcon" src="/Content/Images/user.png" style="width:100px;height:100px;">
    @using (Ajax.BeginForm("EditUserProfile", "Home", "", new AjaxOptions { UpdateTargetId = "userProfileContent" }, new { @class = "verticalContainer" }))
    {
        @Html.LabelFor(model => model.UserName, new { @class = "labelTextGreen" })
        @Html.EditorFor(model => model.UserName, new { default_value = Model.UserName })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.PhoneNumber, new { @class = "labelTextGreen" })
        @Html.EditorFor(model => model.PhoneNumber, new { default_value = Model.PhoneNumber });
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Birthday, new { @class = "labelTextGreen" })
        @Html.EditorFor(model => model.Birthday, new { default_value = Model.Birthday });
        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Status, new { @class = "labelTextGreen" })
        @Html.EditorFor(model => model.Status, new { default_value = Model.Status });
        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

        <input class="submitBtn" type="submit" value="Save" />

    }
</div>


