﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinalProject</title>
     <link rel="icon" href="@Url.Content("~/content/Images/user_blck.ico")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/SimpleSocialNetwork.js")
</head>
<body>
    @RenderBody()
    <footer id="sticky-footer">
        <div class="container text-center">
            <p class="copyrightText">Simple social network ©All Rights Reserved</p>
            <a href="#top"><i class="arrow down"></i></a>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
