﻿@model FinalProject.Models.FriendsSearchViewModel

<div class="verticalContainer" style="margin-top:5%;margin-bottom:5%;" id="userSearching">
    @using (Ajax.BeginForm("FindUsers", "Friends", "", 
        new AjaxOptions { UpdateTargetId = "userSearching", HttpMethod = "Get" }, 
        new { @class = "verticalContainer" }))
    {
        @Html.LabelFor(model => model.NameToSearch, new { @class = "labelTextGreen" })
        @Html.EditorFor(model => model.NameToSearch)
        @Html.ValidationMessageFor(model => model.NameToSearch, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.MailToSearch, new { @class = "labelTextGreen" })
        @Html.EditorFor(model => model.MailToSearch)
        @Html.ValidationMessageFor(model => model.MailToSearch, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.PhoneToSearch, new { @class = "labelTextGreen" })
        @Html.EditorFor(model => model.PhoneToSearch)
        @Html.ValidationMessageFor(model => model.PhoneToSearch, "", new { @class = "text-danger" })
 
        <input class="submitBtn" id="showUsers" type="submit" value="Find" />
    }
    <div class="verticalContainer" id="searchedUsers" style="margin-top:10%;">
        @foreach (var user in Model.SearchedUsers)
        {
            <div class="horizontalContainer" id="friendContainer">
                <img alt="picture" src="/Content/Images/user.png" class="userIcon">
                <div class="list-group-item list-group-item-action flex-column align-items-start" id="friendBoxSearch">
                    <div class="d-flex w-100 justify-content-between">
                        <small>
                            <span class="plusGreen" onclick="DeleteClickHendler(this)">
                                @using (Html.BeginForm("AddFriend", "Friends", new { UserId = user.UserId }, FormMethod.Post))
                                {
                                    <input class="submitBtn" id="deleteFriend" type="submit" style="display:none;" onclick="return confirm('Add friend @user.Name?')" />
                                }
                            </span>
                        </small>
                    </div>
                    <p class="mb-2">@user.Name</p>
                    <p class="mb-1">@user.PhoneNumber</p>
                    <p class="mb-1">@user.Email</p>
                </div>
            </div>
        }
        @if (Model.SearchedUsers.Count() == 0)
        {
            <p class="labelTextWhight">There aren't any friends to add.</p>
        }
    </div>
</div>
