﻿@using FinalProject.App_Code;
@using FinalProject.Models;
@using BLL.DTO
@model FinalProject.Models.FriendsViewModel

@{
    ViewBag.Title = "GetUserFriends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navBar">
        <a class="navbar-brand" href="#">Simple Social Network</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Chats <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("GetUserFriends", "Friends")">Friends</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                @Html.ShowUserOptions(Model.UserName)
            </form>
        </div>
    </nav>
</header>
<div class="content">

    <div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style=" background-color: rgb(102,193,163);">
                <div class="modal-header">
                    <h4 class="modal-title">Profile</h4>
                    <button type="button" id="closebtn" class="close" data-dismiss="modal" aria-label="Close" onclick="RefreshMain()"><span aria-hidden="true">&times;</span></button>
                </div>
                @{
                    Html.RenderPartial("~/Views/Home/UserProfilePartial.cshtml", Model.userProfileViewModel);
                }
            </div>
        </div>
    </div>
    <button id='open' data-toggle="modal" data-target="#showmodal" style="display:none;">open modal</button>

    <div id="showmodalFriendsSearch" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style=" background-color: rgb(102,193,163);">
                <div class="modal-header">
                    <h4 class="modal-title">Friends searching</h4>
                    <button type="button" id="closebtn" class="close" data-dismiss="modal" aria-label="Close" onclick="RefreshMain()"><span aria-hidden="true">&times;</span></button>
                </div>
                @{
                    Html.RenderPartial("FriendsSearchPartial", new FriendsSearchViewModel {SearchedUsers = new List<UserDTO>() });
                }
            </div>
        </div>
    </div>
    <button id='openFriendsSearch' data-toggle="modal" data-target="#showmodalFriendsSearch" style="display:none;">open modal</button>

    <div class="verticalContainer" id="Contacts">
        @foreach (var contact in Model.Contacts)
        {
            <div class="horizontalContainer" id="friendContainer">
                <img alt="picture" src="/Content/Images/user.png" class="userIcon">
                <div class="list-group-item list-group-item-action flex-column align-items-start" id="friendBox">
                    <div class="d-flex w-100 justify-content-between">
                        <small>
                            <span class="cross" onclick="DeleteClickHendler(this)">
                                @using (Html.BeginForm("DeleteFriend", "Friends", new { ContactId = contact.ContactId }, FormMethod.Post))
                                {
                                    <input class="submitBtn" id="deleteFriend" type="submit" style="display:none;" onclick="return confirm('Delete friend @contact.ContactUserName?')" />
                                }
                            </span>
                        </small>
                    </div>
                    <p class="mb-1">@contact.ContactUserName</p>
                </div>
            </div>
        }
        <button class="plusBtn" type="button" onclick="return OpenFriendsSearch()">
            <span class="plus"></span>
        </button>
    </div>
</div>


