﻿@model FinalProject.Models.AdminIndexViewModel
@using FinalProject.App_Code;
@using FinalProject.Models;
@{
    ViewBag.Title = "Index";
}

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navBar">
        <a class="navbar-brand" href="#">Simple Social Network (Admin mode)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Admin")">Complaints<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Users","Admin")">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @*href="@Url.Action("GetUserFriends","Friends")"*@>Terminal</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                @Html.ShowUserOptions(Model.UserName)
            </form>
        </div>
    </nav>
</header>
<div class="content">
    <div class="scrollContainer">
        @if (Model.MessageComplaints.Count() == 0)
        {
            <p class="labelTextWhight">There aren't any messages complaints!</p>
        }
        @foreach (var complaint in Model.MessageComplaints)
        {
            <div class="list-group-item list-group-item-action flex-column align-items-start MessageComplaint">
                <div class="d-flex w-100 justify-content-between">
                    <small>
                        <span class="cross" onclick="DeleteClickHendler(this)">
                            @using (Html.BeginForm("DeleteComplaint", "Admin", new { complaintId = complaint.MessageComplaintId }, FormMethod.Post))
                            {
                                <input class="submitBtn" id="deleteFriend" type="submit" style="display:none;" onclick="return confirm('Delete complaint with id =  @complaint.MessageComplaintId?')" />
                            }
                        </span>
                    </small>
                </div>
                <p class="mb-1 labelTextDark">ComplaintId:</p>
                <p class="mb-1 labelTextBlack">@complaint.MessageComplaintId</p>

                <p class="mb-1 labelTextDark">Message text:</p>
                <p class="mb-1 labelTextBlack">@complaint.MessageText</p>

                <p class="mb-1 labelTextDark">Message sender:</p>

                <div class="horizontalContainer" id="banContainer">
                    <p class="mb-1 labelTextBlack">@complaint.SenderUserId</p>
                    <img alt="picture" src="/Content/Images/ban.png" id="BanIcon" onclick="BanClickHandler(this)">
                    @using (Html.BeginForm("BanUser", "Admin", new { userId = complaint.SenderUserId, redirectToIndex = true}, FormMethod.Post))
                    {
                        <input class="submitBtn" id="deleteFriend" type="submit" style="display:none;" onclick="return confirm('Ban user @complaint.SenderName id = >@complaint.SenderUserId?')" />
                    }
                </div>
                <p class="mb-1 labelTextBlack">@complaint.SenderName</p>

                <p class="mb-1 labelTextDark">Complaint text:</p>
                <p class="mb-1 labelTextBlack">@complaint.ComplaintText</p>

                <p class="mb-1 labelTextDark">Complaint SenderId:</p>
                <p class="mb-1 labelTextBlack">@complaint.AccuserUserId</p>
            </div>
        }
    </div>
</div>

