﻿@model FinalProject.Models.AdminIndexViewModel
@using FinalProject.App_Code;
@using FinalProject.Models;

@{
    ViewBag.Title = "Users";
}

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navBar">
        <a class="navbar-brand" href="#">Simple Social Network (Admin mode)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Index","Admin")">Complaints<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Users","Admin")">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @*href="@Url.Action("GetUserFriends","Friends")"*@>Terminal</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                @Html.ShowUserOptions(Model.UserName)
            </form>
        </div>
    </nav>
</header>
<div class="content">
    <div class="scrollContainer">
        @foreach (var user in Model.Users)
        {
            <div class="horizontalContainer" id="friendContainer">
                <img alt="picture" src="/Content/Images/user.png" class="userIcon">
                @if (user.BanState == true)
                {
                    <div class="list-group-item list-group-item-action flex-column align-items-start" id="friendBoxSearch" style="background-color:rgb(255,195,195) !important">
                        <div class="d-flex w-100 justify-content-between" id="bacContainer">
                            <img alt="picture" src="/Content/Images/unban.png" class="BanIconMaginLeft" onclick="BanClickHandler(this)">
                            @using (Html.BeginForm("UnBanUser", "Admin", new { userId = user.UserId }, FormMethod.Post))
                            {
                                <input class="submitBtn" id="deleteFriend" type="submit" style="display:none;" onclick="return confirm('Unban user @user.Name id = >@user.UserId?')" />
                            }
                        </div>
                        <p class="mb-2">@user.Name</p>
                        <p class="mb-1">@user.PhoneNumber</p>
                        <p class="mb-1">@user.Email</p>
                    </div>
                }
                else
                {
                    <div class="list-group-item list-group-item-action flex-column align-items-start" id="friendBoxSearch">
                        <div class="d-flex w-100 justify-content-between">
                            <img alt="picture" src="/Content/Images/ban.png" class="BanIconMaginLeft" onclick="BanClickHandler(this)">
                            @using (Html.BeginForm("BanUser", "Admin", new { userId = user.UserId, redirectToIndex = false }, FormMethod.Post))
                            {
                                <input class="submitBtn" id="deleteFriend" type="submit" style="display:none;" onclick="return confirm('Ban user @user.Name id = >@user.UserId?')" />
                            }
                        </div>
                        <p class="mb-2">@user.Name</p>
                        <p class="mb-1">@user.PhoneNumber</p>
                        <p class="mb-1">@user.Email</p>
                    </div>
                }
            </div>
        }
    </div>
</div>
