﻿html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(102,193,163);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#navBar {
    background-color: rgb(32,32,32) !important;
    font-family: sans-serif !important;
}

.inputFormAutorize {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
    border-radius: 10px;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(32,32,32);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.horizontalContainer {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: row;
}
.horizontalContainerUserImageAndChat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: white;
}

.verticalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fullScreenFlexContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#chatContainer {
    overflow-y: scroll;
}

#ChatMessages {
    margin-top:75px;
    background-color:gainsboro;
    width: 100%;
    overflow-y: scroll;
}

.scrollContainer {
    margin-top: 100px;
    padding-top:10px;
    margin-bottom: 100px;
    padding-right:1%;
    height: 100%;
    overflow-y: scroll;
}

#chatBar {
    width: 72%;
    height: 70px;
    background-color: rgb(2, 102, 69);
    position: fixed;
    z-index: 5;
}

.labelTextLight {
    font-family: sans-serif;
    font-size: 1.3em;
    letter-spacing: 1px;
    color: rgb(102,193,163);
}

.labelTextBlack {
    font-family: sans-serif;
    font-size: 1.3em;
    letter-spacing: 1px;
    color: black;
}

.labelTextDark {
    font-weight:bold;
    font-family: sans-serif;
    font-size: 1.3em;
    letter-spacing: 1px;
    color: rgb(2, 102, 69);
}

.labelTextWhight {
    font-family: sans-serif;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-weight:bold;
    color:white;
}

.bigLabelDark {
    font-family: sans-serif;
    font-size: 1.7em;
    letter-spacing: 1px;
    color: rgb(32,32,32);
}

.inputFormAutorize form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, textarea {
    font-size: 1.2em;
    margin-bottom:5%;
}

.submitBtn {
    text-align: center;
    width: 150px;
    letter-spacing: 1px;
    padding: 4% 7% 4% 7%;
    margin-top: 5%;
    background-color: rgb(68,155,126);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    border: rgb(2, 102, 69) 3px solid;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
    .submitBtn:hover {
        background-color: rgb(2, 102, 69);
        text-decoration: none;
    }

.plusBtn {
    margin: 0 210px 0 210px;
    width:80px;
    height:80px;
    margin-top:5%;
    text-align: center;
    letter-spacing: 1px;
    padding: 4% 7% 9% 6%;
    margin-bottom: 5%;
    background-color: rgb(68,155,126);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    border: rgb(2, 102, 69) 3px solid;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.goToMainBtn {
    width: 200px;
    height: 80px;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 5%;
    background-color: rgb(68,155,126);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    border: rgb(2, 102, 69) 3px solid;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.plusBtn:hover, .goToMainBtn:hover {
    background-color: rgb(2, 102, 69);
}

a:hover {
    color: white;
}

.copyrightText {
    font-family: sans-serif;
    color: gainsboro;
    line-height: 50%;
}

#sticky-footer {
    bottom: 0;
    background-color: rgb(92,184,162);
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 0.1%;
    font-family: sans-serif;
}

.dropbtn {
    font-weight: bold;
    min-width: 160px;
    font-family: sans-serif;
    font-size: 18px;
    border: none;
    color: white;
    background-color: transparent;
}

.dropdownUserOptions {
    padding: 10px 5px 5px 10px;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    display: inline-block;
    background-color: rgb(68,155,126);
    border-radius: 5px;
    border: rgb(2, 102, 69) 3px solid;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color:white;
}

.dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: rgb(68,155,126);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        color: white;
        font-size: 18px;
    }

        .dropdown-content a:hover {
            background-color: rgb(2, 102, 69);
            color: white;
            border-radius: 5px;
        }

.dropdown:hover .dropdown-content, .dropdownUserOptions:hover .dropdown-content {
    display: block;
}

.dropdownUserOptions:hover{
    color: white;
    background-color: rgb(2, 102, 69);
}

#chatBox {
    cursor: pointer;
    width: 500px;
    background-color: white !important;
}
#chatBox:hover{
    border-color:rgb(2, 102, 69);
}

#friendBox {
    width: 500px;
}

#friendBoxSearch {
    width: 300px;
    margin-bottom: 1%;
    border-radius: 5px;
}

.cross:before {
    transform: rotate(45deg);
}
.cross:after {
    transform: rotate(-45deg);
}
.cross:before, .cross:after {
    position: absolute;
    margin-left: 90%;
    content: ' ';
    height: 30px;
    width: 5px;
    background-color: red;
}

.plus:before, .plusGreen:before {
    transform: rotate(90deg);
}

.plus:after, plusGreen:after {
    transform: rotate(-180deg);
}

.plus:before, .plus:after, .plusGreen:after, .plusGreen:before {
    position: absolute;
    content: ' ';
    height: 30px;
    width: 5px;
    background-color: white;
}
.plusGreen:after, .plusGreen:before {
    background-color: rgb(2, 102, 69);
    position: absolute;
    margin-left: 80%;
}

.labelTextGreen {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    color: rgb(2, 102, 69);
}

.complaintIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0%;
    margin-top: 3%;
    position: absolute;
    margin-left: 150px;
}
.message {
    margin-bottom: 1%;
    width: 300px;
    word-wrap: break-word;
    border-radius: 5px;
}
.messageRight {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 25%;
    background-color: rgb(102,193,163);
}
.messageRight:hover {
    color: black;
    margin-left: 25% !important;
    background-color: rgb(102,193,163) !important;
}
.messageLeft {
    font-family: Helvetica, Arial, sans-serif;
    margin-right: 50%;
}

#btnSubmitMessage{
    padding:0;
}

.userIcon {
    width:40px;
    height:40px;
    margin:1%;
}

#BanIcon {
    width: 30px;
    height: 30px;
    margin-left:10px;
}

.BanIconMaginLeft {
    position:absolute;
    width: 30px;
    height: 30px;
    margin-left: 230px;
}

#trashIcon {
    margin-left: 10%;
    width: 35px;
    height: 35px;
}

#chatsContainer {
}

#chatMessageInputBar {
    padding-left: 7%;
    width: 71%;
    height: 80px;
    background-color: gainsboro;
    position: fixed;
    top: 92%;
    z-index: 6;
    border-top: 2px solid white;
}

#ChatMessagesContainer {
    margin-top: 100px;
    margin-bottom: 100px
}

.MessageComplaint {
    margin-top: 2% !important;
    word-wrap: break-word !important;
    border-radius: 5px !important;
}

.errorText {
    font-size: 35px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: rgb(205, 23, 25);
}

.text-danger {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

.validation-summary-errors {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: #f00;
}
.validation-summary-valid {
    display: none;
}

small:hover span {
    background-color: black !important;
    opacity: 0.5 !important;
}

@media only screen and (max-width: 700px) {
    #ChatMessages 
    {
        display:none;
    }
}
